.discussionPage{
width: 50%;
background:#fff;
border-radius: 20px;
box-shadow: 0px -3px 4px  rgb(0, 0, 0, 0.25) inset;
}
.fieldMsg
{
    color: black;
    font-size: 12px;
    background: #e0e0e0;
    border-radius: 10px;
    border-style: none; resize: none;
    outline: none;
    padding: 2%;
    width: 80%;
    margin-top: 2%;
}
.message{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    width: 90%;
    border-top: solid 1px  #e0e0e0;
}
.send{
    width: 100%;
    font-size: 20px;
    color:#fff ;
    border-radius: 10px;
    padding: 2%;
}
.btn{
    background: #1966ff;
    border-style: none;
    border-radius: 10px;
    margin-top: 2%; ;
    width: 10%;
}
.allMessages{
    height: 380px;
    overflow-y: scroll;
    margin: 0 5%;
    width: 90%;
}
.userNameWelcome{
    text-align: center; 
    padding-top: 150px;
    color: #1966ff;
}
.online{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    border-bottom: solid 2px  #e0e0e0 ;
}
.start_discussion{
    text-align: center;
    padding: 0 30px;
    font-size: 16px;
}
.msgSended{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.parentMsg{
    display: flex;
}
.messageText{
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    color:#000;
    max-width: 300px;
    font-size: 14px;
}
.date {
    font-size: 12px;
    margin-top: -12px;
}
.msgSended.own{
    align-items: flex-end;
}
.msgSended.own .messageText{
      background-color: #1966ff;
      color:#fff;
      border-radius: 10px 10px 0 10px;
}