.loginPage{
    display: flex;
    flex-direction: row;
    padding: 0 5%;
}
.item{
    width: 50%;
    height: auto; 
}
.imageLogin{
     width: 100%;
}
.formulaire{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin:  15%  15% 0;
}
.champ{
    outline: none;
    padding: 5px;
    border-style: none;
    border-bottom: solid 1px #8b3eff ;
    font-size: 16px;
    margin-top:4% ;
    width: 96%;
}
.bouton{
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5%;
    width: 100%;
    background: #8b3eff;
    color: #e9e8f6;
    font-size: 16px;
}
.bouton:hover{
    background:#2c73ff;
    color: #FFF;
}
.defaultProfil{
    width:100px;
    height: auto;
    border-radius: 100%;
    /* align-self: center; */
    object-fit: cover;
}
.profil-pic{
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    border: #8b3eff solid 1px;
    border-radius: 100px;
}
.add-picture-icon{
    position:absolute;
    border-radius: 100%;
    bottom: 0;
    /* right: 0; */
    font-size: 20px;
    background:#8b3eff;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    width: 40px;
    height: 40px;
}
.add-picture{
    position: absolute;
    width: 0px;
    height: 0;
    bottom: 0;
    object-fit: cover;
    right: 5px;
    /* left: -10px; */
    z-index: 2;
    top:55px;
    /* opacity: 0; */
}
.add-picture:hover{
    cursor: pointer;
}