.userPage{
    display: flex;
    flex-direction: column;
    background: #1966ff;
    width: 15%;
    height: auto;
    border-radius: 20px;
    padding-top: 30px;
}
.profil{
    width: 55%;
    height: auto;
    border-radius: 100%;
    align-self: center;
}
.msgCircle{
    color: #fff;
    font-size: 50px;
    align-self: center;
    padding: 15PX 0px;
}
.divPrincipal{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 75%;
    background: #ffe921;
    margin: 50px 0px;
    border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
}
.containerMsg{
    background: #004be1;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
}